[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
arpeggio = "*"
toml = "*"
marshmallow = "*"
build = "*"
zoti-yaml = {editable = true, path = "./../zoti-yaml"}
networkx = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pytest-cov = "*"
autopep8 = "*"
black = "*"
types-pyyaml = "*"
license-sh = "*"
virtualenv = "*"
sphinx = "*"
myst-parser = "*"

[requires]
python_version = "3.10"
