[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
build = "*"
marshmallow = "*"
toml = "*"

[dev-packages]
sphinx = "*"
myst-parser = "*"
pytest = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pytest-cov = "*"
autopep8 = "*"
black = "*"
types-pyyaml = "*"
license-sh = "*"
virtualenv = "*"
sphinx-toolbox = "*"

[requires]
python_version = "3.10"
